<div class="card">
  <img [scr] = "banner" alt="Imagem do Card" class="card-img" "https://images.unsplash.com/photo-1661956600654-edac218fea67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxzZWFyY2h8MXx8ZGV2ZWxvcGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60"  >
  <div class="card-content">
    <p class="card-title">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <div class="card-author">
      <img src="https://images.unsplash.com/photo-1664894626773-ef2687c14bc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80" alt="" class="author">
      <p>
        <strong>Mariah</strong>
      </p>
    </div>
    <div class="card-footer">
      <button class="read-more">Ler mais</button>
    </div>
  </div>
</div>