<div class="paginaCartao">

  <div class="cartao">
    <div class="frente">

      <img id="iconeCard" src="https://iconarchive.com/download/i88083/icons8/ios7/Finance-Visa-Copyrighted.ico">

      <div class="info">
      <label for="">Número do Cartão</label>
      
      <div class="info2">
      <label for="">Titular do Cartão</label>
      <label for="">MM/AA</label>
      </div>
    </div>
    </div>

    <div class="verso">
      <p></p>
      <table></table>
      <p></p>
      <div class="cvv">cvv</div>
      <p></p>
    </div>
  </div>

  <div class="card-form">
    <form class="form-frente">
    </form>
    <label type="text" placeholder="Como"></label>
      <form class="form-verso">
      </form>
  </div>
  
</div>